.contenedor {
    display: flex;
    margin: 0 auto;
    max-width: 90%;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.contenedorVideo {
    max-height: 50rem;
    overflow: hidden;
}

.video {
    width: 100%;
    display: block;
}


.contenedorButton {
    width: 100%;
    text-align: center;
}

.buttonBack {
    background-color:  #E3350D;
    color: #000;
    font-weight: 700;
    font-size: 2rem;
    border-radius: 0.5rem;
    text-transform: uppercase;
    margin-bottom: 3rem;   
    padding: 1rem; 
    cursor: pointer;
    border: none;
}

.buttonBack:hover {
    background-color: #FF0000;
}

@media (max-width: 685px) {
    .contenedor {
        display: flex;
        margin: 0 auto;
        max-width: 90%;
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }
}

 

