.contenedor {
    display: flex;
    margin: 0 auto;
    max-width: 90%;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.contenedorVideo {
    max-height: 50rem;
    overflow: hidden;
}

.video {
    width: 100%;
    display: block;
}

.contenidoSearch {
    margin: 2rem auto;
    width: 95%;
    text-align: center;   
}

.search {    
    width: 50rem;
    height: 3rem;
    background-color: #4184BF;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 2rem;
    color: #FFF;
    border: 1px solid #000;
    font-weight: 400;
}

.search::placeholder {
    color: #FFF;
}

.contenedorButton {
    width: 100%;
    text-align: center;
}

.buttonBack {
    background-color:  #E3350D;
    color: #000;
    font-weight: 700;
    font-size: 2rem;
    border-radius: 0.5rem;
    text-transform: uppercase;
    margin-bottom: 3rem;   
    padding: 1rem; 
    cursor: pointer;
    border: none;
}

.buttonBack:hover {
    background-color: #FF0000;
}

.contenidoPaginador {
    margin: 5rem auto;
    width: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.none {
    display:none;    
}

.button {
    background-color: transparent;
    color: #FFF;
    font-size: 1.5rem;
    border-radius: 2rem;
    padding: 1rem;
    font-family: 'Roboto Condensed', sans-serif;
    border: none;
    width: 8rem;
    height: auto;
}

.button:last-child {
    margin-left: 2rem;
}
.button img {
    width: 5rem;
    cursor: pointer;
}


@media (max-width: 685px) {
    .contenedor {
        display: flex;
        margin: 0 auto;
        max-width: 90%;
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }

    .search {    
        width: 30rem;
    }
}

 

